{% extends "book/base.html" %}

{% load static %}

{% block content %}

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
            <span class="breadcrumb-item active">Book Update</span>
        </div>
    </div>

{#    {% csrf_token %}#}
<div class="container">
    {% if book.count > 0 %}
    <h2>Books catalog:</h2>
    <table>
        <thead><th>Id</th><th>Author</th><th>Name</th><th></th></thead>
        {% for field in book %}
        <tr>
            <td>{{ field.id }}</td>
            <td>{{ field.author }}</td>
            <td>{{ field.name }}</td>
            <td><a href="{% url 'book_edit' field.id %}">Edit</a> | <a href="{% url 'book_delete' field.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}
