{% extends "book/base.html" %}

{% load static %}
{% block content %}

    {% csrf_token %}

    <link rel='stylesheet' href="{% static "shop/css/build/bundle.css" %}">
	<script defer src="{% static "shop/js/build/bundle.js" %}"></script>
    <a id="shop-ref" hidden="true" href="{% url 'shop' %}"></a>

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
            <span class="breadcrumb-item active">Shop</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h2>recently added books to our store</h2>
            <div class="recent-book-sec">
                <div class="row">
                 <div id="books_list" ></div>

                </div>
                <div class="btn-sec">
                    <button class="btn gray-btn">load More books</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

