{% extends "book/base.html" %}

{% load static %}
{% block content %}

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
            <span class="breadcrumb-item active">Shop</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h2>recently added books to our store</h2>
            <div class="recent-book-sec">
                <div class="row">

                    {% for book in books %}
                    <div class="col-md-3">
                        <div class="item">
                            <a href="{%  url 'book_single' %}"><img src="/uploads/{{book.image }}" alt="img">
                            <h6>{{ book.author }}</h6>
                            <h6>{{ book.name }}</h6></a>
                            <h6><span class="price">{{ book.price_sale }}</span> / <a href="{%  url 'book_single' %}">Buy Now</a></h6>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="btn-sec">
                    <button class="btn gray-btn">load More books</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}