{% extends "book/base.html" %}

{% load static %}
{% block content %}

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">Shop</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h2>recently added books to our store</h2>
            <div class="recent-book-sec">
                <div class="row">
                    <div class="col-md-3">
                        <div class="item">
                            <a href="{%  url 'book_single' %}"><img src="/static/book/images/r_hp_1.jpg" alt="img">
                            <h3>Harry Potter and the Philosopher's Stone</h3></a>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r_hp_2.jpg" alt="img">
                            <h3><a href="{%  url 'book_single' %}">Harry Potter and the Chamber of Secrets</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r_hp_3.jpg" alt="img">
                            <h3><a href="#">Harry Potter and the Prisoner of Azkaban</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r_hp_4.jpg" alt="img">
                            <h3><a href="#">Harry Potter and the Goblet of Fire</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r_hp_5.jpg" alt="img">
                            <h3><a href="#">Harry Potter and the Order of the Phoenix</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r_hp_6.jpg" alt="img">
                            <h3><a href="#">Harry Potter and the Half-Blood Prince</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r_hp_7.jpg" alt="img">
                            <h3><a href="#">Harry Potter and the Deathly Hallows</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r_fb_1.jpg" alt="img">
                            <h3><a href="#">Fantastic Beasts and Where to Find Them</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r4.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r5.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r1.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r2.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r3.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r4.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r5.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r1.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r2.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r3.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r4.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item">
                            <img src="/static/book/images/r5.jpg" alt="img">
                            <h3><a href="#">Keepers of the kalachakara</a></h3>
                            <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
                        </div>
                    </div>
                </div>
                <div class="btn-sec">
                    <button class="btn gray-btn">load More books</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}